<h1 style="text-align: center;">Stat Points Allocator</h1>
<table style="width: 611px;" border="1">
<tbody>
<tr>
<td style="width: 237px;">
<h2 style="text-align: center;">Name: Fred</h2>
</td>
<td style="width: 133px;">
<h2 style="text-align: center;">Level: 2</h2>
</td>
<td style="width: 219px;">
<h2 style="text-align: center;"><span style="color: #ff0000;"><strong>Level Up!</strong></span></h2>
</td>
</tr>
</tbody>
</table>
<h2 style="text-align: left;">Points Remaining: 0</h2>
<table border="1">
<tbody>
<tr>
<td>
<h3><strong>Strength: </strong>10</h3>
</td>
<td>
<h2><strong>-</strong></h2>
</td>
<td>
<h2><strong>+</strong></h2>
</td>
<td>
<h3><strong>Endurance: </strong>10</h3>
</td>
<td>
<h2><strong>-</strong></h2>
</td>
<td>
<h2><strong>+</strong></h2>
</td>
</tr>
<tr>
<td>
<h3><strong>Agility: </strong>10</h3>
</td>
<td>
<h2><strong>-</strong></h2>
</td>
<td>
<h2><strong>+</strong></h2>
</td>
<td>
<h3><strong>Charisma: </strong>10</h3>
</td>
<td>
<h2><strong>-</strong></h2>
</td>
<td>
<h2><strong>+</strong></h2>
</td>
</tr>
<tr>
<td>
<h3><strong>Intelligence: </strong>10</h3>
</td>
<td>
<h2><strong>-</strong></h2>
</td>
<td>
<h2><strong>+</strong></h2>
</td>
<td>
<h3><strong>Luck: </strong>10</h3>
</td>
<td>
<h2><strong>-</strong></h2>
</td>
<td>
<h2><strong>+</strong></h2>
</td>
</tr>
</tbody>
</table>
<h2>Skills:&nbsp;</h2>
<h3>Passive:&nbsp;</h3>
<p>Stuff goes here.</p>
<h3>Active:&nbsp;</h3>
<p>Stuff goes here too.</p>