<!DOCTYPE html>
<head>
<title>{{ title }}</title>
<script type="text/javascript" src="{{ url_for('static', filename='spa.js') }}"></script>
</head>
<body>
<!-- will no one thing of the indention ?!! -->
<h1 style="text-align: center;">Stat Points Allocator</h1>
<form action="{{ uri }}" method="POST">
<table style="width: 611px;" border="1">
<tbody>
<tr>
<td style="width: 237px;">
<h2 style="text-align: center;">Name: {{ name }}</h2>
</td>
<td style="width: 133px;">
<h2 style="text-align: center;">Level: {{ level }}</h2>
</td>
<td style="width: 219px;">
<h2 style="text-align: center;"><span style="color: #ff0000;"><strong><input type="submit" value="Level Up!"></strong></span></h2>
</td>
</tr>
</tbody>
</table>
</form>

<h2 style="text-align: left;">Points Remaining: 0</h2>

<!-- table -->
<table border="1">
<tbody>

{% for key,value in abilities.items() %}
{% if loop.index%2 %}<tr>{% endif %}
<td><h3>{{ value[1] }}({{ key }})</h3></td>
<td><h3>{{ value[0] }}</h3></td>
<td><h2>-</h2></td>
<td><h2>+</h2></td>
{% if loop.index0%2 %}</tr>{% endif %}
{% endfor %}

</tbody>
</table>

<!-- skillz to bay someones billz -->
<h2>Skills:</h2>
{% for key,value in skills.items() %}
<h3>{{ value[1] }}:</h3>
<p>{{ value[0] }}</p>
{% endfor %}

</body>
</html>
